{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<h1>sobre</h1>

<a>
    <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png" alt="logonasa">
     <h2>Como Funciona
     Mastertech
    </h2>
    
</a>

<h3>
    <img src="https://cdn.vox-cdn.com/thumbor/ydtuRaHJPlEPxWeCUQbcOnns1to=/0x0:1280x720/1200x0/filters:focal(0x0:1280x720):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/15986265/eva_infographics_214_0.jpg" alt="imagemcentral">
</h3>

    

{% endblock %}